@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #04072a;
    --foreground: #ffffff;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}

@layer utilities {
  .bg-gradient-card {
    background: linear-gradient(145deg, rgba(255,255,255,0.05) 0%, rgba(255,255,255,0.02) 100%);
  }
}
